@media screen and (min-width: 600px) {

    #menu {
        display: none;
    }

    .navigation {
        display: flex !important;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;
        width: auto;
        gap: .5rem;
    }

    .navigation a {
        border-radius: 5px;
        padding: .75rem 1rem;
    }

    .gallery {
        grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
        gap: 2rem;
    }

    figure {
        max-width: 250px;
    }
}